body{
    margin: 0;
    padding: 0;
}

/* Button */
.btn-secondary{
    background-color: black;
    color: white;
    box-shadow: 0 0 7px 0px black;
    border: 1px solid black;
    position: relative;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

#carouselExampleCaptions{
    padding-bottom: 50px;
}

.col-lg-4 h2{
    text-align: center;
}

.col-lg-4 p{
    text-align: center;
}

.col-lg-4 img{
    position: relative;
    left: 100px;
}

.fb{
    position: relative;
    top: 100px;
    left: 40%;
}
.email{
    position: relative;
    top: 100px;
    left: 40%;
}

.card{
    position: relative;
    top: 100px;
    margin-bottom: 50px;
}
